
/* 
Notes:
  1: .class > sub_class > div { Selects all divs from that class and applies these styles}
  2: Defining color variables in root. http://stackoverflow.com/questions/1875852/ddg#17595596
*/
:root {
  --main-bg: #272727;
  --main-box-bg: #747474;
  --main-text: #FFE400;
  --accent-red: #FF652F;
  --accent-green: #14A76C;
  --accent-grey: lightgray;
}


/* GENERAL STYLE TEMPLATES */

a {
    color: rgb(159, 191, 250);
    text-shadow: black;
}
/* a:visited{
    color: #ff80ff;
} */

/* Body */
body{
    background-color: var(--main-bg);
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
    color: var(--main-text);
    margin: 1.25em;
}

.body-wrapper{
    padding: 0em 2em 0em 2em;
}

.section-title {
    text-align: left;
    padding-left: 1em;
    font-size: x-large;
    text-transform: capitalize;
    color: var(--main-text);
}

.section-header {
    text-align: left;
    padding-left: 1em;
    font-size: large;
    text-transform: capitalize;
    color: var(--main-text);
}

.p2, .p1 {
    padding: 2em 1em;
    background-color: var(--main-box-bg);
    border: 2px var(--accent-grey) solid;
}

.p1 {
    font-size: larger;
}

.p2 {
    font-size: medium;
}

img {
    max-width: 100%;
}

/* Footer formatting */
.footer {
    font-size: small;
    text-align: center;
    color: var(--main-text);
    padding-bottom: 1em;
}

.footer > div {
    font-size: medium;
}

/* .footer a {
    color: var(--main-text);
} */

/* SPECIFIC ELEMENT STYLES */

/* Header */
.header-wrapper {
    background-color:  #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: lightgray;
}

/* Navbar */

.navbar {
    background-color: #333;
    display: flex;
    align-self: center;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}

/* Change the color of links on hover */
.navbar a:hover {
    border-bottom: 2px solid whitesmoke;
}

/* Add a color to the active/current link */
.navbar a.active {
    /*background-color: darkblue ;*/
    color: var(--main-text);
    font-weight: bold;
    border-bottom: 2px solid var(--main-text);
}
.header-title {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    overflow-y: visible;
    margin: auto;
}
.header-logo {
    display: flex;
    flex: 1;
    padding-right: 20px;
    width: 150px;
}

/* List formatting */

li span {
    font-weight: bolder;
    color: var(--accent-red);
}

/* About page */

.profile-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 2em;
}

.profile-wrapper > .section-title {
    align-self: center;
    margin-bottom: -1.5em;
}

.profile-main {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(254,237,65,1) 0%, rgba(2,0,36,0) 40%);
    border: 4px solid rgba(254,237,65,1);
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
}

.profile-pic {
     flex: 1;
    /*max-width: 100%; /*Used to keep picture size responsive */
}

.profile-text {
    flex: 2;
    font-size: medium;
    padding: 2em;
    color: var(--main-text);
}


/* Table formatting */

table {
    padding: 1em 0em 1em 0em;
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-weight: bold;
    margin: auto;
}

td, th {
    background-color: var(--main-box-bg);
    color: var(--accent-red);
    border: 1px solid var(--accent-red);
    padding: 0.25rem;
    text-align: center;
    width: 5em;
}

tbody td {
    text-align: left;
    height: 4em;
    vertical-align: top;
}

td:hover {
    background-color: var(--accent-green);
}
