
/* 
Notes:
  1: .class > sub_class > div { Selects all divs from that class and applies these styles}

  2: text-transform: will alter written text to upper/lower/etc format
*/

/* GENERAL STYLE TEMPLATES */

/*Formatting link colors for dark background. https://www.w3schools.com/css/css_link.asp */
a {
  color: #426ef0;
  text-shadow: black;
}
a:visited{
  color: #ff80ff;
}

/* Body */
body{
  background-color: #404040;
  color: lightgrey;
  font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  padding: 5%;
}

.footer {
  font-size: small;
}

/* SPECIFIC ELEMENT STYLES */



/* Header */
.header-wrapper {
  background-color:  #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Navbar */

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  border-bottom: 2px solid whitesmoke;
}

/* Add a color to the active/current link */
.navbar a.active {
  /*background-color: darkblue ;*/
  color: gold;
  font-weight: bold;
}
.header-title {
  flex: 2;
  text-align: center;
  color: white;
 
}
.header-logo {
  flex: 1;
  align-self: flex-end;
  height: 40px;
  padding-right: 20px;
}


/* About page */

.profile-wrapper {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  background: linear-gradient(90deg, rgba(254,237,65,1) 0%, rgba(2,0,36,0) 40%);
  border: 4px solid rgba(254,237,65,1);
  border-radius: 1em;
  border-top-right-radius: 10% 30%;
}

img.profile-pic {
  flex: 1;
  height: fit-content;
}

.profile-text {
  flex: 3;
  font-size: medium;
  padding: 25px;
}

